@model IEnumerable<WorkWAPP.Models.Product>
@{
    ViewBag.Title = "Продукты";
}

<h1>@ViewBag.Title</h1>
<a asp-action="Create">Добавить</a>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label"> Название:</label>
        <input name="name" type="text"/>

        <label class="control-label"> Категория:</label>
        <input name="categoryName" type="text"/>

        <label class="control-label"> Цена:</label>
        <input name="price" type="number"/>

        <input type="submit" value="Фильтрация"/>
    </div>
</form>
<table border="1">
    <tr>
        <td> <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameUp">Название</a></td>
        <td><a asp-action="Index" asp-route-sortOrder="@ViewBag.CategoryUp">Категория</a></td>
        <td>Описание</td>
        <td><a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceUp">Цена</a></td>
        <td>Примечание</td>
        <td>Специальное примечание</td>
        <td>Удалить</td>
        <td>Изменить</td>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Categories.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td>@product.Note</td>
            <td>@product.SpecialNote</td>
            <td><a href="~/Product/Delete/@product.Id">Удалить</a></td>
            <td><a href="~/Product/Edit/@product.Id">Изменить</a></td>

        </tr>
    }

</table>

